body {
    background-color: #ffffff; 
    padding: 0cm 0cm 1cm 0cm ;
    font-size: 20px;
}
.Promo {
    display:inline-block;
    height: 800px;
    background: url(/src/img/main_bg.jpg) center center/cover no-repeat;
}
h1 {font-size: 30px;
    text-align: center;
    font-style: italic;}
.Prof {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: #ffffff;
    margin-top: 30px;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
    color: black;
}
.menu .menu_item {
	border-right: 2px dotted black;
	padding-right: 28px;
}
.menu .menu_link {
	font-weight: 300;
	font-size: 20px;
	color: #FFFFFF;
}
.LOGO {
   margin-left: 50px; 
   border-radius: 100%;
}
.name { 
    font-size: 30px;
    
    font-style: italic;
    color:rgba(249, 191, 59, 1);}
.Ramil{
padding: 10px 0cm 0cm 0cm;;
display: flex;
justify-content: space-between ;
margin-right: 90px;
color: rgba(249, 191, 59, 1)}
.CV {
  margin: 0 auto;
}

.links {
display: flex;
flex-direction: column;
justify-content: end;
}


h2 {text-align: center;
font-style:italic;
}
.Hello {
margin-top: 20px;
margin-left: 20px;
font-size:  30px;
font-style: italic;
color: #00ffea;}
.blok2 {background-color: #cfcaca;
    padding: 1cm 1cm 1cm 1cm}
.blok3 {
height: 350px;
padding: 1cm 1cm 1cm 1cm;
background-color: #ffffff;}
.smile {
text-align: center;
font-weight: 900;
padding: 0cm 2cm 0cm 2cm;
color: 
rgba(249, 191, 59, 1);
line-height: 28px; }

.skills {
    position: relative;
    height: 470px;
    padding: 20px;
    background-color: #f2ff00;}
.box {
display: inline-block;
vertical-align: top;
margin: 10px 0 0 30px}
.hobby {
    background-color: black;
    padding: 1cm 0cm 1cm 0cm;}
.baku {
display: inline-block;
margin: 80px ;}
.paris {
display: inline-block;
margin-left: 0px;}
.hannover {
display: inline-block;
margin-left: 80px;}
.football {
display: inline-block;
margin-left: 80px;}
.hockey {
display: inline-block;
margin-left: 80px;}
.mountain {
display: inline-block;
margin-left: 80px;}
.hobby1 { color:white;}
.freetime {color: white;
    text-align: center;}
.Biography{ position: relative;
background-color: #08b9c2;
height: 650px;
padding: 1cm 0cm 0cm 0cm;}
.BiographyF {display: inline-block;
width: 500px;
margin: 5px; 
padding-left: 70px;}
.BiographyB{
    display: inline-block; 
    width: 700px;
    font-weight: 600;
}
.logo_insta {
display: inline-block;
}
.icons {

margin-top: 90px; 
margin-left: 850px;
}
.logo_vk {
display: inline-block;}
.logo_wsap {
display: inline-block;}
.logo_tlm {
display: inline-block;}
.logo_facebook {
display: inline-block;}
.logo_hh {
display: inline-block;}
.row{
width: 800px;
position: relative;
} 
